services:
    jwt.manager:
        public: false
        class: 'PhpSolution\JwtBundle\Jwt\JwtManager'
        arguments:
            - '@jwt.configuration_registry'
            - '@jwt.token_type_registry'

    jwt.token_type_registry:
        public: false
        class: 'PhpSolution\JwtBundle\Jwt\Type\TypeRegistry'

    jwt.configuration_registry:
        public: false
        class: 'PhpSolution\JwtBundle\Jwt\Configuration\ConfigRegistry'

    PhpSolution\JwtBundle\Jwt\JwtManager:
        public: true
        alias: 'jwt.manager'
